body{
   background-color: rgb(25, 31, 44);
   color: rgb(242, 232, 232);
   font-family: Arial, Helvetica, sans-serif;
   width: 1500px;
}


button {
   border: none;
   border-radius: 8px;
   background-color: rgb(41, 50, 69);
   color: whitesmoke;
   padding: 10px 20px 10px 20px;
}


button:hover {
   border: 1px solid orange;
}
/* 
   Requiered CSS Animations:

   Hover Over Table Row Color Change 
   Hover over Table Row Tool Tip */

table{
   border-collapse: collapse;
   width: 100%;
   text-align: left;
}

.usertable {
   background-color: rgb(18, 21, 28);
}
.usertable-container {
   height: 600px;
   width: 75%;
}


.usertable-body tr:nth-child(odd) {
   background-color: rgb(48, 58, 80);
}

.usertable-body tr:hover{
   background-color: rgb(41, 50, 69);
}


/* Row actions */
.rowBtn {
   cursor: pointer;
   text-align: center;
}
/* inspect row */

.inspectRowBtn:hover{
    background-color: deepskyblue;
    text-align: center;
}

/* delete Row */


.deleteRowBtn:hover {
    background-color: red;
}



/* Auftrags Modal Style*/

.neuerAuftragModal {
   visibility: hidden;  
   position: relative;
 
   left: 300px;
   height: 500px;
   width: 1024px;
   background-color: rgba(41, 50, 69, 0.772);
   margin: 30px;
   border: 0.5px solid white;
   border-radius: 8px;
   backdrop-filter: blur(10px);
}


#loginForm {
    visibility: visible;
}



.auftragsListe {

    grid-template: 100px 1fr / 1800px;
    
}


.auftragsListeHeader{
   background-color:  rgb(18, 22, 30);
   grid-area: 1 / 1 / 1 / 1;
}



.listItem {
    grid-area: 2 / 1 / 2 / 1;
    background-color: rgba(15, 19, 26, 0.772);
    display: grid;
    padding: 10px 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.184);
    border-radius: 100px;
    width: 100%;
    grid-template: repeat(1, 1fr) / repeat(10, 1fr);
    margin: 20px 0;
    justify-content: space-between;
    box-shadow: 0 0 20px rgb(18, 22, 30);
}

.listItem:hover {
    background-color: rgba(34, 42, 56, 0.933);
}

.itemSelector {
    grid-area: 1 / 1 / 1 / 1;
    justify-self: center;
    align-self: center;
}

.listIssueSection {
    
    grid-area: 1 / 2 / 1 / 7;
}

.listIssueSection a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.issueSubText {
     margin-top: 20px;
}

.issueSubText span {
     color: rgba(255, 255, 255, 0.8);
     font-size: 14px;
     font-style: italic;
     margin: 5px 10px 0 0;
}
.issueAssignment {
    grid-area: 1 / 7 / 1 / 8;

}
.issueAssignment img{
    height: 70px;
    grid-area: 1 / 8 / 1 / 9;
    position: relative;
    top: 5px;
}

.prioSet {
    position: relative;
    top: 20px;
    height: 50px;
    grid-area: 1 / 9 / 1 / 10;
}


.auftragsNummer {
    align-self: center;
    grid-area: 1 / 10 / 1 / 11;
}


.auftragsNummer h4{
    font-size: medium;
    font-weight: 300;
    font-style: italic;
}

.deleteRow {
    visibility: hidden;
    background-color: rgb(13, 13, 14);
    align-self: center;
    grid-area: 1 / 10 / 1 / 11;
    z-index: 10;
}

